{% extends 'core/base.html' %} {% block content %}
<h1 class="title">Olá, {{request.user.username}}</h1>
{% if profile.is_employer %}
<h2 class="subtitle">Jobs</h2>
<a href="{% url 'add_job_request' %}" class="button is-success">Add job</a>
{% for job in request.user.jobs.all %}
<div class="job">
  <a href="{% url 'view_dashboard_job' job.id %}" class="button is-light"
    >{{ job.titulo }} ({{ job.get_status_display }})</a
  >
</div>
{% empty %}
<p>Você ainda não tem nenhum job...</p>
{% endfor %} {% else %}
<h2 class="subtitle">Applications</h2>
{% for application in request.user.applications.all %}
<div class="application">
  <a href="{% url 'view_application' application.id %}" class="button is-light"
    >{{ application.trabalho.titulo }}</a
  >
</div>
{% empty %}
<p>Você ainda não se candidatou a nenhum job...</p>
{% endfor %} {% endif %} {% endblock %}
