{% extends 'core/base.html' %} {% block content %}
<h1 class="title">View Application</h1>
<h2 class="subtitle">{{ application.trabalho.titulo }}</h2>
<small>Data de Aplicação: {{application.criado_em}}</small>
<p><strong>Conteúdo: </strong>{{ application.conteudo }}</p>
<p><strong>Experiência: </strong>{{ application.experiencia }}</p>
<hr />
<h2 class="subtitle">Chat</h2>
{% for message in application.messages.all %}
<div class="notification">
  <b
    >{{ message.criado_por.username }} - {{ message.criado_em|timesince }}
    atrás</b
  ><br />
  {{ message.conteudo }}
</div>
{% empty %}
<p>Sem mensagens ainda...</p>
<hr />
{% endfor %}
<form action="." method="post">
  {% csrf_token %}
  <div class="field">
    <label for="id_conteudo">Mensagem</label>
    <div class="control">
      <textarea
        name="conteudo"
        id="id_conteudo"
        placeholder="Digite sua mensagem..."
        class="textarea"
      ></textarea>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-success">Enviar mensagem</button>
    </div>
  </div>
</form>
{% endblock %}
