{% extends 'core/base.html' %} {% block content %}
<h1 class="title">{{ job.titulo }}</h1>
<a href="{% url 'edit_job_request' job.id %}" class="nutton is-success mb-4"
  >Editar Trabalho</a
>
<p class="is-size-4">{{ job.descricao_curta }}</p>
<p>{{ job.descricao_longa }}</p>
<div class="box">
  <p><b>Nome da companhia: </b>{{ job.nome_companhia }}</p>
  {% if job.endereco_companhia %}
  <p><b>Endereço da Companhia: </b>{{ job.endereco_companhia }}</p>
  {% endif %} {% if job.cep_companhia %}
  <p><b>CEP da Companhia: </b>{{ job.cep_companhia }}</p>
  {% endif %} {% if job.cidade_companhia %}
  <p><b>Cidade da Companhia: </b>{{ job.cidade_companhia }}</p>
  {% endif %} {% if job.pais_companhia %}
  <p><b>País da Companhia: </b>{{ job.pais_companhia }}</p>
  {% endif %}
  <p><b>Tamanho da Companhia: </b>{{ job.get_tamanho_companhia_display }}</p>
</div>

{% for application in job.applications.all %}
<a href="{% url 'view_application' application.id %}" class="button is-light">
  {{ application.criado_por.username }}
</a>
{% endfor %} {% endblock %}
