<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <!-- Links -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title -->
    <title>Coding Jobs</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar is-light">
      <div class="navbar-brand">
        <a href="{% url 'frontpage' %}" class="navbar-item">
          <strong> Coding Jobs </strong>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a href="{% url 'search' %}" class="navbar-item">Search</a>
          {% if request.user.is_authenticated %}
          <a href="{% url 'dashboard' %}" class="navbar-item">
            <strong>Dashboard</strong>
          </a>
          <a href="{% url 'notifications' %}" class="navbar-item"
            >Notifications ({{ notifications.count }})</a
          >
          {% endif %}
          <div class="navbar-item">
            <div class="buttons">
              {% if request.user.is_authenticated %}
              <a href="{% url 'logout' %}" class="button is-danger">
                <strong> Sair </strong>
              </a>
              {% else %}
              <a href="{% url 'signup' %}" class="button is-success">
                <strong> Cadastre-se </strong>
              </a>
              <a href="{% url 'login' %}" class="button is-light">
                <strong> Entre </strong>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <a href="/admin" class="navbar-item">
        <strong> Admin </strong>
      </a>
    </nav>
    <!-- Main Content -->
    <section class="section">{% block content %} {% endblock %}</section>

    <!-- Scripts -->
    <script src="https://unpkg.com/vue@next"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
