{% extends 'core/base.html' %} {% block content %}
<h1>Welcome to Coding Jobs</h1>
<h2 class="subtitle has-text-centered">Trabalhos recentes</h2>
<div class="columns">
  {% for job in jobs %}
  <div class="column is-4">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ job.titulo }}</p>
            <p class="subtitle is-6">{{ job.criado_em }}</p>
          </div>
        </div>
        <div class="content">{{ job.descricao_curta }}</div>
        <br />
        <a href="{% url 'job_detail' job.id %}">Ver mais</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
