{% extends 'core/base.html' %} {% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-6 is-offset-3">
      <h1 class="title">Cadastre-se</h1>
      <form method="POST" action=".">
        {% csrf_token %} {{ form.as_p }}
        <hr />
        <div class="field">
          <label for="account_type">Account Type</label>
          <div class="control">
            <div class="select">
              <select name="account_type" id="account_type">
                <option value="jobseeker" selected>Job Seeker</option>
                <option value="employer">Employer</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-success">Cadastre-se</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
