{% extends 'core/base.html' %} {% block content %}
<div class="container">
  <h1 class="title">Notifications</h1>
  {% if not notifications %}
  <p>No notifications yet...</p>
  {% endif %} {% for notification in notifications %}
  <div class="notification">
    <p>
      {% if notification.tipo_notificacao == 'message' %}
      <a
        href="{% url 'notifications' %}?goto=view_application&notification={{ notification.id }}&extra_id={{ notification.extra_id }}"
      >
        <strong>{{ notification.criado_por.username }}</strong> te enviou uma
        mensagem!<br />
        <small>{{ notification.criado_em|timesince }} atrás</small>
      </a>
      {% elif notification.tipo_notificacao == 'application' %}
      <a
        href="{% url 'notifications' %}?goto=view_application&notification={{ notification.id }}&extra_id={{ notification.extra_id }}"
      >
        <strong>{{ notification.criado_por.username }}</strong> se aplicou para
        seu trabalho!<br />
        <small>{{ notification.criado_em|timesince }} atrás</small>
      </a>
      {% endif %}
    </p>
  </div>
  {% endfor %}
</div>
{% endblock %}
