{% extends 'core/base.html' %} {% block content %}
<div id="add-job-app">
  <h1 class="title">Adicionar Trabalho</h1>
  <form action="." method="post" v-on:submit="validateForm()">
    {% csrf_token %} {% if form.errors %} {% for error in form.errors %}
    <div class="notification is-danger"><p>{{ error }}</p></div>
    {% endfor %} {% endif %}
    <div class="notification is-danger" v-if="errors.length">
      <p v-for="error in errors">[[ error ]]</p>
    </div>
    <fieldset class="box">
      <legend class="subtitle is-6">Informações Básicas</legend>
      <div class="field">
        <label class="label" for="id_titulo">Título</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="titulo"
            id="id_titulo"
            v-model="titulo"
          />
        </div>
      </div>
      <div class="field">
        <label class="label" for="id_descricao_curta">Descrição Curta</label>
        <div class="control">
          <textarea
            class="textarea"
            name="descricao_curta"
            id="id_descricao_curta"
            v-model="descricao_curta"
          ></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label" for="id_descricao_longa">Descrição Longa</label>
        <div class="control">
          <textarea
            class="textarea"
            name="descricao_longa"
            id="id_descricao_longa"
          ></textarea>
        </div>
      </div>
    </fieldset>
    <fieldset class="box">
      <legend class="subtitle is-6">Informações da Companhia</legend>
      <div class="field">
        <label class="label" for="id_nome_companhia">Nome da Companhia</label>
        <div class="control">
          <input
            type="text"
            name="nome_companhia"
            id="id_nome_companhia"
            class="input"
            v-model="nome_companhia"
          />
        </div>
      </div>
      <div class="field">
        <label class="label" for="id_endereco_companhia"
          >Endereço da Companhia</label
        >
        <div class="control">
          <input
            type="text"
            name="endereco_companhia"
            id="id_endereco_companhia"
            class="input"
          />
        </div>
      </div>
      <div class="field">
        <label class="label" for="id_cep_companhia">CEP da Companhia</label>
        <div class="control">
          <input
            type="text"
            name="cep_companhia"
            id="id_cep_companhia"
            class="input"
          />
        </div>
      </div>
      <div class="field">
        <label class="label" for="id_cidade_companhia"
          >Cidade da Companhia</label
        >
        <div class="control">
          <input
            type="text"
            name="cidade_companhia"
            id="id_cidade_companhia"
            class="input"
          />
        </div>
      </div>
      <div class="field">
        <label class="label" for="id_pais_companhia">País da Companhia</label>
        <div class="control">
          <input
            type="text"
            name="pais_companhia"
            id="id_pais_companhia"
            class="input"
          />
        </div>
      </div>
      <div class="field">
        <label class="label" for="id_tamanho_companhia"
          >Tamanho da Companhia</label
        >
        <div class="control">
          <div class="select">
            <select
              name="tamanho_companhia"
              id="id_tamanho_companhia"
              v-model="tamanho_companhia"
            >
              <option value="tamanho_1-9" selected>1-9</option>
              <option value="tamanho_10-49">10-49</option>
              <option value="tamanho_50-99">50-99</option>
              <option value="tamanho_100">100+</option>
            </select>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="field">
      <div class="control">
        <button class="button is-success">Enviar</button>
      </div>
    </div>
  </form>
</div>
{% endblock %} {% block scripts %}
<script>
  const AddJobApp = {
    data() {
      return {
        titulo: "",
        nome_companhia: "",
        descricao_curta: "",
        tamanho_companhia: "",
        errors: [],
      };
    },
    delimiters: ["[[", "]]"],
    methods: {
      validateForm(e) {
        this.errors = [];
        if (this.titulo === "")
          this.errors.push("O título do trabalho não foi informado!");
        if (this.descricao_curta === "")
          this.errors.push("A descrição do trabalho não foi informada!");
        if (this.nome_companhia === "")
          this.errors.push("O nome da companhia não foi informado!");
        if (this.tamanho_companhia === "")
          this.errors.push("O tamanho da companhia não foi informado!");
        if (this.errors) {
          e.preventDefault();
          return false;
        } else {
          return true;
        }
      },
    },
  };
  Vue.createApp(AddJobApp).mount("#add-job-app");
</script>
{% endblock %}
