{% extends 'core/base.html' %} {% block content %}
<h1 class="title">Apply For Job - {{ job.titulo }}</h1>
<form action="." method="post">
  {% csrf_token %} {% if form.errors %} {% for error in form.errors %}
  <div class="notification is-danger">{{ error }}</div>
  {% endfor %} {% endif %}
  <div class="field">
    <label for="id_conteudo">Conteúdo</label>
    <div class="control">
      <textarea class="textarea" name="conteudo" id="id_conteudo"></textarea>
    </div>
  </div>
  <div class="field">
    <label for="id_experiencia">Experiência</label>
    <div class="control">
      <textarea
        class="textarea"
        name="experiencia"
        id="id_experiencia"
      ></textarea>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-success">Enviar Aplicação</button>
    </div>
  </div>
</form>
{% endblock %}
