{% extends 'core/base.html' %} {% block content %}
<div id="edit-job-app">
  <h1 class="title">Editar Trabalho</h1>
  <form action="." method="post" v-on:submit="validateForm()">
    {% csrf_token %} {% if form.errors %} {% for error in form.errors %}
    <div class="notification is-danger"><p>{{ error }}</p></div>
    {% endfor %} {% endif %}
    <div class="notification is-danger" v-if="errors.length">
      <p v-for="error in errors">[[ error ]]</p>
    </div>
    <fieldset class="box">
      <legend class="subtitle is-6">Informações Básicas</legend>
      <div class="field">
        <label class="label" for="id_titulo">Título</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="titulo"
            id="id_titulo"
            v-model="titulo"
            value="{% if job.titulo %}{{ job.titulo }}{% endif %}"
          />
        </div>
      </div>
      <div class="field">
        <label class="label" for="id_descricao_curta">Descrição Curta</label>
        <div class="control">
          <textarea
            class="textarea"
            name="descricao_curta"
            id="id_descricao_curta"
            v-model="descricao_curta"
            value="{% if job.descricao_curta %}{{ job.descricao_curta }}{% endif %}"
          ></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label" for="id_descricao_longa">Descrição Longa</label>
        <div class="control">
          <textarea
            class="textarea"
            name="descricao_longa"
            id="id_descricao_longa"
          >
          {% if job.descricao_longa %}{{ job.descricao_longa }}{% endif %}
          </textarea>
        </div>
      </div>
    </fieldset>
    <fieldset class="box">
      <legend class="subtitle is-6">Informações da Companhia</legend>
      <div class="field">
        <label class="label" for="id_nome_companhia">Nome da Companhia</label>
        <div class="control">
          <input
            type="text"
            name="nome_companhia"
            id="id_nome_companhia"
            class="input"
            v-model="nome_companhia"
            value="{% if job.nome_companhia %}{{ job.nome_companhia }}{% endif %}"
          />
        </div>
      </div>
      <div class="field">
        <label class="label" for="id_endereco_companhia"
          >Endereço da Companhia</label
        >
        <div class="control">
          <input
            type="text"
            name="endereco_companhia"
            id="id_endereco_companhia"
            class="input"
            value="{% if job.endereco_companhia %}{{ job.endereco_companhia }}{% endif %}"
          />
        </div>
      </div>
      <div class="field">
        <label class="label" for="id_cep_companhia">CEP da Companhia</label>
        <div class="control">
          <input
            type="text"
            name="cep_companhia"
            id="id_cep_companhia"
            class="input"
            value="{% if job.cep_companhia %}{{ job.cep_companhia }}{% endif %}"
          />
        </div>
      </div>
      <div class="field">
        <label class="label" for="id_cidade_companhia"
          >Cidade da Companhia</label
        >
        <div class="control">
          <input
            type="text"
            name="cidade_companhia"
            id="id_cidade_companhia"
            class="input"
            value="{% if job.cidade_companhia %}{{ job.cidade_companhia }}{% endif %}"
          />
        </div>
      </div>
      <div class="field">
        <label class="label" for="id_pais_companhia">País da Companhia</label>
        <div class="control">
          <input
            type="text"
            name="pais_companhia"
            id="id_pais_companhia"
            class="input"
            value="{% if job.pais_companhia %}{{ job.pais_companhia }}{% endif %}"
          />
        </div>
      </div>
      <div class="field">
        <label class="label" for="id_tamanho_companhia"
          >Tamanho da Companhia</label
        >
        <div class="control">
          <div class="select">
            <select
              name="tamanho_companhia"
              id="id_tamanho_companhia"
              v-model="tamanho_companhia"
            >
              <option value="tamanho_1-9" selected>1-9</option>
              <option value="tamanho_10-49">10-49</option>
              <option value="tamanho_50-99">50-99</option>
              <option value="tamanho_100">100+</option>
            </select>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="field">
      <label class="label" for="id_status">Status do Trabalho</label>
      <div class="control">
        <div class="select">
          <select name="status" id="id_status">
            <option value="ativo" {% if job.status == 'ativo' %}selected{% endif %}>Ativo</option>
            <option value="ocupado" {% if job.status == 'ocupado' %}selected{% endif %}>Ocupado</option>
            <option value="arquivado" {% if job.status == 'arquivado' %}selected{% endif %}>Arquivado</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-success">Salvar Modificações</button>
      </div>
    </div>
  </form>
</div>
{% endblock %} {% block scripts %}
<script>
  const EditJobApp = {
    data() {
      return {
        titulo: "{{ job.titulo }}",
        nome_companhia: "{{ job.nome_companhia }}",
        descricao_curta: "{{ job.descricao_curta }}",
        tamanho_companhia: "{{ job.tamanho_companhia }}",
        errors: [],
      };
    },
    delimiters: ["[[", "]]"],
    methods: {
      validateForm(e) {
        this.errors = [];
        if (this.titulo === "")
          this.errors.push("O título do trabalho não foi informado!");
        if (this.descricao_curta === "")
          this.errors.push("A descrição do trabalho não foi informada!");
        if (this.nome_companhia === "")
          this.errors.push("O nome da companhia não foi informado!");
        if (this.tamanho_companhia === "")
          this.errors.push("O tamanho da companhia não foi informado!");
        if (this.errors) {
          e.preventDefault();
          return false;
        } else {
          return true;
        }
      },
    },
  };
  Vue.createApp(EditJobApp).mount("#edit-job-app");
</script>
{% endblock %}
