{% extends 'core/base.html' %} {% block content %}
<div id="search-app">
  <h1 class="title">Busca</h1>
  <form v-on:submit.prevent="performSearch()">
    <div class="columns">
      <div class="column is-4">
        <div class="field">
          <label for="id_query" class="label">Termo de busca</label>
          <div class="control">
            <input
              type="text"
              name="query"
              id="id_query"
              class="input"
              v-model="query"
            />
          </div>
        </div>
        <div class="field">
          <label for="id_tamanho_companhia" class="label"
            >Tamanho da Companhia</label
          >
          <div class="control">
            <div class="select">
              <select
                name="tamanho_companhia"
                id="id_tamanho_companhia"
                v-model="tamanho_companhia"
              >
                <option value="" selected>Todos os tamanhos</option>
                <option value="tamanho_1-9">1-9</option>
                <option value="tamanho_10-49">10-49</option>
                <option value="tamanho_50-99">50-99</option>
                <option value="tamanho_100">100+</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-success">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div v-if="jobs.length">
    <hr />
    <div class="notification mt-2" v-for="job in jobs" v-bind:key="job.id">
      <h3 class="is-size-4">[[ job.titulo ]]</h3>
      <p>[[ job.nome_companhia ]]</p>
      <a v-bind:href="job.url">Ver detalhes</a>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  const SearchApp = {
    data() {
      return {
        query: "",
        tamanho_companhia: "",
        jobs: [],
      };
    },
    delimiters: ["[[", "]]"],
    methods: {
      performSearch() {
        let data = {
          query: this.query,
          tamanho_companhia: this.tamanho_companhia,
        };

        fetch("/jobs/api/busca/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}",
          },
          body: JSON.stringify(data),
        })
          .then((response) => {
            return response.json();
          })
          .then((result) => {
            this.jobs = result.jobs;
          })
          .catch((error) => console.log("Erro!", error));
      },
    },
  };
  Vue.createApp(SearchApp).mount("#search-app");
</script>
{% endblock %}
